@{
  Layout = "_Layout";
}

@using GameInventory.Models;

<h1>Current game collection:</h1>

@if (@Model.Count == 0)
{
  <h3>No games have been added yet!</h3>
} 

@foreach (Game game in Model)
{
  <li>@game.GameId . @game.Title @game.ReleaseDate</li>
  <li>@game.Description</li>
  <li>@game.Genre, @game.Tags</li>
  <br>
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Refresh search results", "Index")</p>
@using (Html.BeginForm())
  {
    @Html.Label("title")
    @Html.TextBox("title")
    <input type="submit" value="Search!" />
  }